button {
  outline: none;
  cursor: pointer;
}

svg {
  cursor: pointer;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: left;
}

.App {
  text-align: center;
}

.content {
  background-color: #fff;
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
  border-radius: 20px;
}


.cartBtnRight {
  position: relative;
  width: 325px;
  height: 55px;
  background-color: #9DD558;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1rem;

  img {
    position: absolute;
    right: 33px;
    top: 21px;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    img {
      right: 28px;
    }
  }
}

.cartBtnLeft {
  position: relative;
  width: 325px;
  height: 55px;
  background-color: #9DD558;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1rem;

  img {
    position: absolute;
    left: 30px;
    top: 21px;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    img {
      left: 25px;
    }
  }
}
