.skeletonCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 270px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 30px;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
